# Scientific Python
numpy
pandas
matplotlib
xarray
h5netcdf
pathy
hydra-core
fsspec

# Machine Learning
torch
pytorch-lightning
einops

# Development tools
pytest
pytest-cov
flake8
black
pre-commit
pydocstyle
isort
